* {
  box-sizing: border-box;
}
nav,
footer {
  display:flex;
  padding: 1% 0;
  background-color: #000;
  justify-content:space-evenly;
  text-align: center;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

html, body {
  height: 100%;
}

body{
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
p{
  color: #00ff41;
}
h1, h2 {
  display: flex;
 color:#00ff41;
 font-family: monospace;
 justify-content: center;
 text-align: center;
}

.prjsec{
  margin-top: 33%;
}
.prjimg  {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-info {
  background-color: #00ff41;
}

.prjlink{
  display: flex;
  align-items: center;
  justify-content: center;
}

.etm-p1 {
  color:#00ff41;
  animation: typing-text 3.5s steps(30), blink 0.5s infinite alternate;
   overflow: hidden;
   white-space: nowrap;
   font-weight: bold;
   font-family: monospace;
   border-right: 3px solid #00ff41;
  
 }

 .etm-img {
  padding-left: 33px;
 }

 @keyframes typing-text {
   from{
      width: 0;
   }
   to{
      width: 276px;
   }
 }

 @keyframes blink {
   from {
     border-color: transparent;
   }
   to {
     border-color: #00ff41;
   }
 }

 @keyframes delayedShow1 {
  to {
    visibility: visible;
  }
}
 
 @keyframes delayedShow2 {
  to {
    visibility: visible;
  }
}


.delayedShow2{
  visibility: hidden;
  animation: 0s linear 4s forwards delayedShow2 ;
}